<label>Kies een soort item</label>

<select id="itemOpties">
    <option hidden selected>Selecteer een optie</option>
    <option>Persoon</option>
    <option>Organisatie</option>
    <option>Thema</option>
</select>

<div>
    <label id="lblKiezen"></label>
    <div id="itemAantalTweetsKeuzelijst"></div>
</div>

<<<<<<< HEAD
@*<div>
        <label>Selecteer een datumbereik</label>
        <div>
            Van:
            <input type="date" />
            Tot:
            <input type="date" />
        </div>
    </div>



    <div>
        <label>Hoe wilt u de evolutie weergeven?</label>
        <select id="selectEvolutieWeergave">
            <option hidden selected>Selecteer een optie</option>
            <option>Per dag</option>
            <option>Per week</option>
=======


<div>
        <label>Van hoeveel dagen wilt u de evolutie zien?</label>
        <select id="aantalDagen">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
        </select>
</div>


<div>
    <label>Geef een grafiektitel in</label>
    <input id="grafiektitel" type="text" />
</div>

<div class="onzichtbaar" id="divToevoegenOpslaan">
    <button id="btnToevoegenOpslaan" class="btn btn-primary btn-algemene-layout">Opslaan</button>
</div>

<script>
    $("#itemOpties").change(function () {

        var keuze = $("#itemOpties").val();

        switch (keuze) {
            case "Persoon":

                $.get('@Url.Action("LaadPersonen1Item", "Dashboard")', {}, function (resultaat) {
                    $("#itemAantalTweetsKeuzelijst").html(resultaat);
                    $("#lblKiezen").html("Kies een persoon")
                });

            break;

            case "Organisatie":

                $.get('@Url.Action("LaadOrganisaties1Item", "Dashboard")', {}, function (resultaat) {
                    $("#itemAantalTweetsKeuzelijst").html(resultaat)
                    $("#lblKiezen").html("Kies een organisatie")

                 });

            break;

            case "Thema":

                $.get('@Url.Action("LaadThemas1Item", "Dashboard")', {}, function (resultaat) {
                    $("#itemAantalTweetsKeuzelijst").html(resultaat)
                    $("#lblKiezen").html("Kies een thema")

                 });

            break;
        }

        $("#divToevoegenOpslaan").show();

    });
</script>

<script>

    $("#btnToevoegenOpslaan").click(function () {

        var keuze = $("#itemOpties").val();
        var link;

      


        switch (keuze) {
            case "Persoon":

<<<<<<< HEAD
               @*link = '@Url.Action("LaadStaafdiagram", "Dashboard", new { grafiektitel = "replaceGrafiektitel", labels = "replaceLabels", data = "replaceData" })'
                        .replace("replaceGrafiektitel", $("#persoon1").val() + " - aantal tweets")
                        .replace("replaceLabels", ["seppe1", "seppe2", "seppe3", "seppe4", "seppe5"])
                    .replace("replaceData", [8, 4, 7, 15, 11]);*@

                @*link = '@Url.Action("LaadStaafdiagram", "Dashboard", new { grafiektitel = "replaceGrafiektitel" })'
                    .replace("replaceGrafiektitel", $("#persoon1").val());*@


                link = '@Url.Action("LaadLijndiagramAantalTweets", "Dashboard", new { grafiektitel = "replaceGrafiektitel" })'
                    .replace("replaceGrafiektitel", $("#persoon1").val());
=======
                var sublink1 = '@Html.Raw(Url.Action("LaadLijndiagramAantalTweets", "Dashboard",
                     new { grafiektitel = "replaceGrafiektitel",
                         item = "replaceItem",
                         aantalDagen = "replaceAantalDagen"
                     }))'
                    .replace("replaceGrafiektitel", $("#grafiektitel").val());

                var sublink2 = sublink1.replace("replaceItem", $("#persoon1").val());

                link = sublink2.replace("replaceAantalDagen", $("#aantalDagen").val());


>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
            break;

            case "Organisatie":

<<<<<<< HEAD
                @*link = '@Url.Action("LaadStaafdiagram", "Dashboard", new { grafiektitel = "replaceGrafiektitel", labels = "replaceLabels", data = "replaceData" })'
                    .replace("replaceGrafiektitel", $("#organisatie1").val() + " - aantal tweets")
                        .replace("replaceLabels", ["seppe1", "seppe2", "seppe3", "seppe4", "seppe5"])
                    .replace("replaceData", [8, 4, 7, 15, 11]);*@

                @*link = '@Url.Action("LaadStaafdiagram", "Dashboard", new { grafiektitel = "replaceGrafiektitel", labels = "replaceLabels", data = "replaceData" })'
                    .replace("replaceGrafiektitel", $("#organisatie1").val());*@

                 link = '@Url.Action("LaadLijndiagramAantalTweets", "Dashboard", new { grafiektitel = "replaceGrafiektitel" })'
                     .replace("replaceGrafiektitel", $("#organisatie1").val());
=======
                var sublink1 = '@Html.Raw(Url.Action("LaadLijndiagramAantalTweets", "Dashboard",
                     new { grafiektitel = "replaceGrafiektitel",
                         item = "replaceItem",
                         aantalDagen = "replaceAantalDagen"
                     }))'
                    .replace("replaceGrafiektitel", $("#grafiektitel").val());

                var sublink2 = sublink1.replace("replaceItem", $("#organisatie1").val());

                link = sublink2.replace("replaceAantalDagen", $("#aantalDagen").val());
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0

            break;

            case "Thema":

               var sublink1 = '@Html.Raw(Url.Action("LaadLijndiagramAantalTweets", "Dashboard",
                     new { grafiektitel = "replaceGrafiektitel",
                         item = "replaceItem",
                         aantalDagen = "replaceAantalDagen"
                     }))'
                    .replace("replaceGrafiektitel", $("#grafiektitel").val());

                var sublink2 = sublink1.replace("replaceItem", $("#thema1").val());

                link = sublink2.replace("replaceAantalDagen", $("#aantalDagen").val());

            break;
        }

        $.get(link, {}, function (resultaat) {
            $("#elementenGrafieken").append("<div class=col-md-6>" + resultaat + "</div>");

        });

        $("#modalGrafiekToevoegen").modal('hide');

    });
</script>