<label>Kies een soort item</label>

<select id="itemOpties">
    <option hidden selected>Selecteer een optie</option>
    <option>Persoon</option>
    <option>Organisatie</option>
    <option>Thema</option>
</select>

<div>
    <div id="itemGeselecteerd"></div>
</div>

<div class="onzichtbaar" id="divToevoegenOpslaan">
    <button id="btnToevoegenOpslaan" class="btn btn-primary btn-algemene-layout">Opslaan</button>
</div>


<script>

    $("#itemOpties").change(function () {

        var keuze = $("#itemOpties").val();

        switch (keuze) {
            case "Persoon":

                $.get('@Url.Action("LaadPersonen1Item", "Dashboard")', {}, function (resultaat) {
                    $("#itemGeselecteerd").html(resultaat);
                 });
                $("#divToevoegenOpslaan").show();

            break;

            case "Organisatie":

                $.get('@Url.Action("LaadOrganisaties1Item", "Dashboard")', {}, function (resultaat) {
                    $("#itemGeselecteerd").html(resultaat)

                 });
                $("#divToevoegenOpslaan").show();

            break;

            case "Thema":

               var aantalThemas = @Html.Raw(Json.Encode(ViewBag.AantalThemas));

                if (aantalThemas == 0) {
                    $("#itemGeselecteerd").html("Er zijn geen thema's beschikbaar. U kan kiezen uit personen of organisaties.");
                    $("#divToevoegenOpslaan").hide();

                } else {
                 $.get('@Url.Action("LaadThemas1Item", "Dashboard")', {}, function (resultaat) {
                     $("#itemGeselecteerd").html(resultaat)

                    });
                 $("#divToevoegenOpslaan").show();
                }

            break;
        }


    });

</script>


<script>

    $("#btnToevoegenOpslaan").click(function () {

        var keuze = $("#itemOpties").val();
        var link;

        switch (keuze) {
            case "Persoon":

                link = '@Url.Action("LaadPersisteerGetal", "DashboardStatistieken", new { id1 = "replace" })'.replace("replace", $("#persoon1").val());

            break;

            case "Organisatie":

                link = '@Url.Action("LaadPersisteerGetal", "DashboardStatistieken", new { id1 = "replace" })'.replace("replace", $("#organisatie1").val());

            break;

            case "Thema":
                link = '@Url.Action("LaadPersisteerGetal", "DashboardStatistieken", new { id1 = "replace" })'.replace("replace", $("#thema1").val());

            break;
        }

        $.get(link , {}, function (resultaat) {
            $("#elementenStatistieken").append(resultaat);

        });

        $("#modalStatistiekToevoegen").modal('hide');

    });

</script>

