@{
    ViewBag.Title = "Index";
}

@*Foto voor niet ingelogde gebruikers*@
@if (!Request.IsAuthenticated)
{
    <div class="container-fluid dashboardAfbeeldingContainer elementen-centreren">
        <div class="dashboardTekst">
            <h3>@ViewBag.DeelplatformNaam</h3>
            <hr />
            <h4>Welkom op het <b>dashboard.</b></h4>
        </div>
        <img class="deelplatformHomeAfbeelding" src="~/images/Deelplatformen/@ViewBag.Afbeelding" />
        <button class="btn btn-secondary" id="btnInloggen" onclick="location.href='@Url.Action("Login","Account", new { ReturnUrl = 
                                                                                Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                                                                ViewContext.RouteData.Values["controller"].ToString())})'">
        Inloggen</button>
        <button class="btn btn-primary" id="btnRegistreren" onclick="location.href='@Url.Action("Register","Account", 
                                                                                     new { ReturnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), 
                                                                                     ViewContext.RouteData.Values["controller"].ToString())})'">Registreren</button>
    </div>
}
else
{
    <h1>Deelplatform</h1>
}

<div class="container" id="elementen">

    @*Rij 1*@
    <div class="row">

        <div class="col-md-11">

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary button-xx-large" id="btnToevoegen" data-target="#modalGrafiekToevoegen" data-toggle="modal">+</button>
        </div>

    </div>


    @*@for (int i = 1; i < ViewBag.Grafieken.Count + 1; i++)
        {

                <div class="col-md-6">
                    @if (i % 2 != 0)
                    {
                        @ViewBag.Grafieken[i - 1]

                        @*<canvas id=@ViewBag.GafiekId></canvas>

                    }

                </div>

                <div class="col-md-6">

                    @if (i % 2 == 0)
                    {
                        @ViewBag.Grafieken[i - 1]
                    }

                </div>

        }*@

</div>


<div class="modal" id="modalGrafiekToevoegen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Element toevoegen</h4>
            </div>
            <div class="modal-body" id="divElementToevoegen">

            </div>
        </div>
    </div>

</div>

<div class="modal" id="modalGrafiekAanpassen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Element aanpassen</h4>
            </div>
            <div class="modal-body" id="divElementAanpassen">

            </div>
        </div>
    </div>

</div>




@*<script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>


    @Html.Partial("~/Views/Shared/Grafieken/Grafieken.cshtml")
    <script src="~/Scripts/EigenScripts.js"></script>*@


<script type="text/javascript">
            $("#btnToevoegen").click(function () {
                $.get('@Url.Action("LaadElementToevoegen", "Dashboard")', {}, function (resultaat) {
                    $("#divElementToevoegen").html(resultaat);
            });
            });
</script>





