<div>
    <label>Thema 1</label>
    @Html.DropDownList("Dashboard", ViewBag.Themas as List<SelectListItem>, new { id = "thema1" })
</div>

<div>
    <label>Thema 2</label>
    @Html.DropDownList("Dashboard", ViewBag.Themas as List<SelectListItem>, new { id = "thema2" })
</div>

<div>
    <label>Thema 3</label>
    @Html.DropDownList("Dashboard", ViewBag.Themas as List<SelectListItem>, new { id = "thema3" })
</div>

<div>
    <label>Thema 4</label>
    @Html.DropDownList("Dashboard", ViewBag.Themas as List<SelectListItem>, new { id = "thema4" })
</div>

<div>
    <label>Thema 5</label>
    @Html.DropDownList("Dashboard", ViewBag.Themas as List<SelectListItem>, new { id = "thema5" })
</div>