@*Seppe*@

@{
    ViewBag.Title = "Index";
}

<h2>Overzicht</h2>

<h4>Thema</h4>

<div class="container">

    @*Rij 1*@
    <div class="row">

        <div class="col-md-5">
            <canvas id="horizontalBarChart" height="250"></canvas>

            @*@Html.Partial(MVC.Shared.Views.Dashboard.Bewerkingsknop)*@

            @Html.Partial("~/Views/Shared/Dashboard/Bewerkingsknop.cshtml");
        </div>

        <div class="col-md-5">
            <canvas id="pieChart" height="250"></canvas>

            @*@Html.Partial(MVC.Shared.Views.Dashboard.Bewerkingsknop)*@
            @Html.Partial("~/Views/Shared/Dashboard/Bewerkingsknop.cshtml");

        </div>

        <div class="col-md-2" id="divVerbergen">
            <button class="btn btn-primary btn-algemene-layout" id="btnVerbergen">Grafiek bewerken sluiten</button>

            <div id="divGrafiekBeheren"></div>
        </div>

    </div>

    @*Rij 2*@
    @*<div class="row">
            <div class="col-md-1">
                <button class="btn btn-primary button-xx-large"><<</button>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                <button class="btn btn-primary button-xx-large">>></button>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1"  >

            </div>
        </div>*@

    @*Rij 3*@
    <div class="row">

        <div class="col-md-5">
            <canvas id="MultibarChart" height="250"></canvas>
            @*@Html.Partial(MVC.Shared.Views.Dashboard.Bewerkingsknop)*@
            @Html.Partial("~/Views/Shared/Dashboard/Bewerkingsknop.cshtml")

        </div>
        <div class="col-md-5">
            <canvas id="MultiLineChart" height="250"></canvas>
            @*@Html.Partial(MVC.Shared.Views.Dashboard.Bewerkingsknop)*@
            @Html.Partial("~/Views/Shared/Dashboard/Bewerkingsknop.cshtml")

        </div>
        <div class="col-md-2">

        </div>

    </div>

    @*Rij 4*@
    <div class="row footer-paginanummer">
        <div class="col-md-12 pagina-label">
            1/3
        </div>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>

    @*@Html.Partial(MVC.Shared.Views.Grafieken.Grafieken)
        @Html.Partial(MVC.Shared.Views.Dashboard.BeheerScripts)*@

    @Html.Partial("~/Views/Shared/Grafieken/Grafieken.cshtml")
    @Html.Partial("~/Views/Shared/Dashboard/BeheerScripts.cshtml")



    @*<script type="text/javascript">
            $(".bewerken").click(function () {
            $.get('@Url.Action("LaadGrafiekAanpassen", "Beheer")', {}, function (resultaat) {
                $("#divGrafiekAanpassen").html(resultaat);
            });
            });
        </script>*@

    @*<script type="text/javascript">
            $("#btnAnnuleren").click(function () {
            $.get('@Url.Action("LaadLegePartialView", "Beheer")', {}, function (resultaat) {
                $("#divGrafiekAanpassen").html(resultaat);
            });
            });
        </script>*@
}







