@{ 
  var item = "item";
  var trend = "neutraal";
}

<h3>Top 5</h3>

<ol>
    <li>@item / @trend</li>
    <li>@item / @trend</li>
    <li>@item / @trend</li>
    <li>@item / @trend</li>
    <li>@item / @trend</li>
</ol>
