@model IEnumerable<Domain.Gemonitordeitems.GemonitordItem>

@{
  ViewBag.Title = "Items";
}

<h2>Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volgbaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotaalAantalVermeldingen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GemPolariteit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GemObjectiviteit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volgbaar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotaalAantalVermeldingen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GemPolariteit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GemObjectiviteit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GemonitordItemId }) |
            @Html.ActionLink("Details", "Details", new { id = item.GemonitordItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GemonitordItemId })
        </td>
    </tr>
    }

</table>
