<div>
    <canvas id="lineChart" height="250"></canvas>
    @Html.Partial("~/Views/Shared/Dashboard/Bewerkingsknop.cshtml")
    @Html.Partial("~/Views/Shared/Dashboard/VerwijderKnop.cshtml")
</div>


<script>

    @*var item1 = @Html.Raw(Json.Encode(ViewBag.Item1Naam))*@
    var dagen = @Html.Raw(Json.Encode(ViewBag.ItemDagen));
    var grafiekTitel = @Html.Raw(Json.Encode(ViewBag.Grafiektitel));
    var data1 = @Html.Raw(Json.Encode(ViewBag.Item1Data));
    


    var ctx = $("#lineChart");
    var myLineChart = new Chart(ctx, {

        options: {
            title: {
                display: true,
                text: grafiekTitel,
                fontSize: 18

            },
            legend: {
                display: false
            },

            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: false,
                        maxRotation: 90,
                        minRotation: 90
                    }
                }]
            }

        },
        type: 'line',

        data: {

        labels: dagen,

        datasets: [
            {
                data: data1,
                bordercolor: ["#3e95cd"],
                borderWidth: 4
            }
        ]
        }


    });
</script>

