<div>
    <canvas id="@ViewBag.GrafiekId" height="250"></canvas>

    <button id="bewerken-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekBewerken(this.id)">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <button id="verwijderen-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekVerwijderen(this.id)">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>


<script>


    var grafiekId = @Html.Raw(Json.Encode(ViewBag.GrafiekId));

    var dagen = @Html.Raw(Json.Encode(ViewBag.ItemDagen));
    var grafiekTitel = @Html.Raw(Json.Encode(ViewBag.Grafiektitel));
    var data1 = @Html.Raw(Json.Encode(ViewBag.Item1Data));

    GrafiekOpbouwen(grafiekId, grafiekTitel, "line", false, true, true, true, true, false, true, 90, 90, "Dag", "Aantal tweets", dagen,
        null, null, null, null, null, data1, null, null, null, null, ["#3e95cd"], null, null, null, null, ["#3e95cd"], null, null, null, null)

    GrafiekOpbouwen()

</script>


