<div id="div-@ViewBag.GrafiekId" class="col-md-6">
    <canvas id="@ViewBag.GrafiekId" height="300"></canvas>

    <button id="bewerken-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekBewerken(this.id)">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <button id="verwijderen-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekVerwijderen(this.id)">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>


<script>
        var grafiekId = @Html.Raw(Json.Encode(ViewBag.GrafiekId));

    var data = @Html.Raw(Json.Encode(ViewBag.Data));
    var legendelijst = @Html.Raw(Json.Encode(ViewBag.Legendelijst));
    var grafiektitel = @Html.Raw(Json.Encode(ViewBag.Grafiektitel));
    var xLabels = @Html.Raw(Json.Encode(ViewBag.XLabels));


    GrafiekOpbouwen(grafiekId, grafiektitel, "line", true, true, true, true, true, false, true, 90, 0, "x", "y", xLabels,
        legendelijst[0], legendelijst[1], legendelijst[2], legendelijst[3], null,
        data[0], data[1], data[2], data[3], null,
        ["#3e95cd"], ["#8e5ea2"], ["#3cba9f"], ["#e8c3b9"], null, ["#3e95cd"], ["#8e5ea2"], ["#3cba9f"], ["#e8c3b9"], null)

</script>


