@*<div>
        <canvas id="@ViewBag.GrafiekId" height="250"></canvas>
<<<<<<< HEAD
=======

        <button id="bewerken-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekBewerken(this.id)">
        <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <button id="verwijderen-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekVerwijderen(this.id)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>*@


<div>
    <canvas id="lineChart5Items" height="250"></canvas>

</div>
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0

        <button id="bewerken-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekBewerken(this.id)">
        <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <button id="verwijderen-@ViewBag.GrafiekId" class="btn btn-primary" onclick="grafiekVerwijderen(this.id)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>*@

<<<<<<< HEAD

<div>
    <canvas id="lineChart5Items" height="250"></canvas>

</div>

<script>


=======


    var data = @Html.Raw(Json.Encode(ViewBag.Data));
    var legendelijst = @Html.Raw(Json.Encode(ViewBag.Legendelijst));
    var grafiektitel = @Html.Raw(Json.Encode(ViewBag.Grafiektitel));
    var xLabels = @Html.Raw(Json.Encode(ViewBag.XLabels));


          GrafiekOpbouwen("lineChart5Items", grafiektitel, "line", true, true, true, true, true, false, true, 90, 0, "x", "y", xLabels,
        legendelijst[0], legendelijst[1], legendelijst[2], legendelijst[3], legendelijst[4],
        data[0], data[1], data[2], data[3], data[4],
        null, null, null, null, null, null, null, null, null, null)
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0

    var data = @Html.Raw(Json.Encode(ViewBag.Data));
    var legendelijst = @Html.Raw(Json.Encode(ViewBag.Legendelijst));
    var grafiektitel = @Html.Raw(Json.Encode(ViewBag.Grafiektitel));
    var xLabels = @Html.Raw(Json.Encode(ViewBag.XLabels));

<<<<<<< HEAD

          GrafiekOpbouwen("lineChart5Items", grafiektitel, "line", true, true, true, true, true, false, true, 90, 0, "x", "y", xLabels,
        legendelijst[0], legendelijst[1], legendelijst[2], legendelijst[3], legendelijst[4],
        data[0], data[1], data[2], data[3], data[4],
        null, null, null, null, null, null, null, null, null, null)

<<<<<<< HEAD
    var ctx = $("#lineChart");
    var myLineChart = new Chart(ctx, {

        options: {
            title: {
                display: true,
                text: grafiekTitel,
                fontSize: 18
            },
            legend: {
                display: true
            },
=======


</script>


@*<script>
        function grafiekVerwijderen(id) {
            var lengteId = id.substring(id.indexOf("-") + 1, id.length - 1).length;
            var subid;
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }
<<<<<<< HEAD
        },
        type: 'line',

        data: {

        labels: dagen,

        datasets: [
            {
                label: item1,
                data: data1,
                //backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#ffff00", "#ffa500"],
                bordercolor: ["#3e95cd"],
                borderWidth: 4
            },

            {
                label: item2,
                data: data2,
                //backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#ffff00", "#ffa500"],
                bordercolor: ["#8e5ea2"],
                borderWidth: 4
            },

            {
                label: item3,
                data: data3,
                //backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#ffff00", "#ffa500"],
                bordercolor: ["#3cba9f"],
                borderWidth: 4
            },

            {
                label: item4,
                data: data4,
                //backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#ffff00", "#ffa500"],
                bordercolor: ["#e8c3b9"],
                borderWidth: 4
            },

            {
                label: item5,
                data: data5,
                //backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#ffff00", "#ffa500"],
                bordercolor: ["#c45850"],
                borderWidth: 4
=======

=======

</script>


@*<script>
        function grafiekVerwijderen(id) {
            var lengteId = id.substring(id.indexOf("-") + 1, id.length - 1).length;
            var subid;

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }

>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
            var grafiekVerwijderen = confirm("Ben je zeker dat je de grafiek wilt verwijderen?");
            if (grafiekVerwijderen == true) {
                $("canvas#" + subid).remove()

                $("#verwijderen-" + subid).remove();
                $("#bewerken-" + subid).remove();

<<<<<<< HEAD
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
            }
        }

<<<<<<< HEAD
    });
</script>
=======
=======
            }
        }

>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
        function grafiekBewerken(id) {

            var lengteId = id.substring(id.indexOf("-") + 1, id.length - 1).length;
            var subid;
<<<<<<< HEAD
=======

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }


            $("#modalGrafiekAanpassen").modal();

            $.get('@Url.Action("LaadGrafiekAanpassen", "Dashboard")', {}, function (resultaat) {
                $("#divGrafiekAanpassen").html(resultaat);
            });

        }

<<<<<<< HEAD
    </script>*@
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
=======
            $("#modalGrafiekAanpassen").modal();

            $.get('@Url.Action("LaadGrafiekAanpassen", "Dashboard")', {}, function (resultaat) {
                $("#divGrafiekAanpassen").html(resultaat);
            });

        }

    </script>*@
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
