<div>
    <label>Organisatie 1</label>
    @Html.DropDownList("Dashboard", ViewBag.Organisaties as List<SelectListItem>, new { id = "organisatie1" })
</div>

<div>
    <label>Organisatie 2</label>
    @Html.DropDownList("Dashboard", ViewBag.Organisaties as List<SelectListItem>, new { id = "organisatie2" })
</div>

<div>
    <label>Organisatie 3</label>
    @Html.DropDownList("Dashboard", ViewBag.Organisaties as List<SelectListItem>, new { id = "organisatie3" })
</div>

<div>
    <label>Organisatie 4</label>
    @Html.DropDownList("Dashboard", ViewBag.Organisaties as List<SelectListItem>, new { id = "organisatie4" })
</div>

<div>
    <label>Organisatie 5</label>
    @Html.DropDownList("Dashboard", ViewBag.Organisaties as List<SelectListItem>, new { id = "organisatie5" })
</div>
