@*Seppe*@

@{
    ViewBag.Title = "Overzicht";
}

<h1>Overzicht</h1>

<div class="container">

    <div class="row">

        <div class="col-md-4">
            @foreach (var item in ViewBag.Itemslist)
            {
                <div class="btn-group-blok">
                    <button class="btn btn-primary btn-algemene-layout" id=@item>@item</button>
                </div>
            }
        </div>

        <div class="col-md-4" id="divResultaat">

        </div>

        <div class="col-md-4" id="divZoekfunctieGrafieken">
            @*@Html.Partial("ZoekfunctieGrafieken")*@
            @*@Html.Partial(MVC.Shared.Views.Overzicht.ZoekfunctieGrafieken)*@
            @Html.Partial("~/Views/Shared/Overzicht/ZoekfunctieGrafieken.cshtml")


        </div>

    </div>

</div>


@section scripts {
    <script type="text/javascript">
        $("#Persoon").click(function () {
        $.get('@Url.Action("LaadPersonen", "GemonitordItem")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>

    <script type="text/javascript">
        $("#Organisatie").click(function () {
        $.get('@Url.Action("LaadOrganisaties", "GemonitordItem")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>

    <script type="text/javascript">
        $("#Term").click(function () {
        $.get('@Url.Action("LaadTermen", "GemonitordItem")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>

    <script type="text/javascript">
        $("#Thema").click(function () {
        $.get('@Url.Action("LaadThemas", "GemonitordItem")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>
}




