<div class="panel panel-info">
    <div class="panel-heading">Kernwoorden</div>
    <div class="panel-body">
        @ViewBag.Kernwoorden
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Verzamelde gegevens</div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tr>
                <td>
                    Aantal vermeldingen:
                </td>
                <td>
                    @ViewBag.Thema.TotaalAantalVermeldingen
                </td>
            </tr>
            <tr>
                <td>
                    Vermeldingentrend:
                </td>
                <td>
                    @ViewBag.Thema.VermeldingenTrend
                </td>
            </tr>
            <tr>
                <td>
                    Gemiddelde polariteit:
                </td>
                <td>
                    @ViewBag.GemPolariteit
                </td>
            </tr>
            <tr>
                <td>
                    Polariteitstrend:
                </td>
                <td>
                    @ViewBag.Thema.PolariteitsTrend
                </td>
            </tr>
            <tr>
                <td>
                    Gemiddelde objectiviteit:
                </td>
                <td>
                    @ViewBag.GemObjectiviteit
                </td>
            </tr>
            <tr>
                <td>
                    Objectiviteitstrend:
                </td>
                <td>
                    @ViewBag.Thema.ObjectiviteitsTrend
                </td>
            </tr>
            <tr>
                <td>
                    Aantal vermeldingen van vrouwen:
                </td>
                <td>
                    @ViewBag.Thema.AantalBerichtenVanVrouwen
                </td>
            </tr>
            <tr>
                <td>
                    Aantal vermeldingen van mannen:
                </td>
                <td>
                    @ViewBag.Thema.AantalBerichtenVanMannen
                </td>
            </tr>
            <tr>
                <td>
                    Meest voorkomende URL:
                </td>
                <td>
                    @if (ViewBag.HeeftMeestVoorkomendeURL)
                    {
                        <a href="@ViewBag.Thema.MeestVoorkomendeURL" target="_blank">@ViewBag.MeestVoorkomendeURL</a>
                    }
                    else
                    {
                        <p>Onbekend</p>
                    }
                </td>
            </tr>
        </table>
        <div>

            <canvas id="lijnGrafiekThemaDetail" height="250"></canvas>

        </div>
    </div>
</div>

<script src="~/Scripts/Chart.js"></script>

<script src="~/Scripts/EigenScripts.js"></script>
<script>

        var dagen=@Html.Raw(Json.Encode(ViewBag.ItemDagen));
        var aantalTweets=@Html.Raw(Json.Encode(ViewBag.ItemAantalTweets));
        GrafiekOpbouwen("lijnGrafiekThemaDetail", "Vermeldingen doorheen de tijd", "line" , false, true, true, true, true, false, true, 90, 0, "Datum" , "Vermeldingen" , dagen,
            null, null, null, null, null, aantalTweets, null, null, null, null, 'rgba(23,158,241,1)', null, null, null, null, 'rgba(23,158,241,1)', null, null, null, null)

</script>