@model MVC.Models.SettingsNotLoggedInViewModel

@{
  ViewBag.Title = "NietIngelogdeGebruikerInstellen";
}

<h3>Instellingen voor niet-ingelogde gebruikers</h3>

<table class="table">
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.OverzichtAdded)
        </td>
        <td>
            @Html.LabelFor(m => m.OverzichtAdded)
        </td>
    </tr>

    <tr>
        <td>
            @Html.CheckBoxFor(m => m.WeeklyReviewAdded)
        </td>
        <td>
            @Html.LabelFor(m => m.WeeklyReviewAdded)
        </td>
    </tr>
</table>

<button class="btn btn-primary btn-algemene-layout" onclick="location.href='@Url.Action("SlaInstellingenOp", "Admin", new { OverzichtAdded = Model.OverzichtAdded, WeeklyReviewAdded = Model.WeeklyReviewAdded })'">
    <span>Opslaan</span>
</button>
